@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="width: 500px;">We aim at Open source community to move forward as an automation platform. Anyone can contribute. Initially this project is a Continuous Integration server,
    but we plan to support all the features you expect from a mature Continuous Deployment/Operations platform. Soon it will be the best choice you can make for both. Key feature is
    the <b>Pre-tested commit</b> Build, check and run your automated tests on the server or your local machine even before committing the changes – keeping your code base and
     repositories clean at all times.</p>


<img  width="450" height="160" src="../../images/down_arrow.png"/>
<br/>
<p style="width: 500px;">
    Smooth VCS integrations. You are into Feature Branches for development? No problem. BitCI can monitor, detect and build changes in the required branch, as well as merge it to
    the predefined one. No more Versioned Settings issues. Now you can synchronize your project settings with VCS, and never lose track of them again. We support Infrastrucre-as-Code.
    Just store settings in Version Control. Just like you do with your source code, and use your favorite tool to review and manage them. Always be on top of your building processes.
</p>

<img width="450" height="160" src="../../images/down_arrow.png" />
<br/>
<p style="width: 500px;">
    You need to bring testing to your dev branches? Adopting feature branching or a branch-per-issue workflow doesn't mean sacrificing code quality. On changes we will automatically
    apply the main line's CI scheme to them. Use the branch builds straight away, or customize your own triggers, variables, and notification settings.
</p>