@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Evgeni Kostadinov<br />
    <abbr title="Email">email:</abbr>
    evgenikostadinov@gmail.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:evgenikostadinov@gmail.com">evgenikostadinov@gmail.com</a><br />
    <strong>Contacts:</strong> <a href="mailto:unibit@unibit.bg">unibit@unibit.bg</a>
</address>